

<%-include('../partials/adminheader')-%>

<div class="main-wrap">
    <form>
        <div class="form-group">
          <label for="coupon-title">Coupon title</label>
          <input type="text" class="form-control" id="coupon-title" placeholder="Enter coupon title">
        </div>
        <div class="form-group">
          <label for="coupon-description">Coupon description</label>
          <textarea class="form-control" id="coupon-description" rows="3" placeholder="Enter coupon description"></textarea>
        </div>
        <div class="form-group">
          <label for="coupon-code">Coupon code</label>
          <input type="text" class="form-control" id="coupon-code" placeholder="Enter coupon code">
        </div>
        <div class="form-group">
          <label for="coupon-expiry">Coupon expiry date</label>
          <input type="date" class="form-control" id="coupon-expiry">
        </div>
        <button type="submit" class="btn btn-primary">Add coupon</button>
      </form>
      
</div>